.mat-toolbar{
    background-color:white;
}
.example-spacer {
    flex: 1 1 auto;
}
.main-div{
    height: 50vh;
}
button{
    margin: 0 5px
}
.scroll-div-inside{
    max-height: 24vh;
    overflow-y: auto;
}
.row{
    display: flex;
    border-bottom: solid 1px grey;
    max-width: 80%;
    padding: 10px
}
.mat-form-field{
    margin: 0 5px;
}
.pos-name{
    width: 50%;
}
.quantity{
    width: 10%;
}
.unit{
    width: 20%;
}
.wraper{
    width:680px;
}