<mat-card [class.mat-elevation-z12]="true">
    <mat-card-header>
       <mat-card-title>Udostępnione listy zakupów od innych użytkowników</mat-card-title> 
    </mat-card-header>
    <section *ngIf="isFeaching">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </section>
    <mat-card-content
        *ngIf="isNotEmpty">
        <app-list-card 
        *ngFor="let shopList of shopLists; let i = index" 
        class="row"
        [shopList]="shopList"
        ></app-list-card>
    </mat-card-content>
    <mat-card-content
        *ngIf="!isNotEmpty">
        <mat-card-subtitle>
            Brak aktualnie udostępnionych list zakupów.
        </mat-card-subtitle>
    </mat-card-content>
</mat-card>
